---
import strings from '../../strings.mjs';
import Layout from '../layouts/Layout.astro';
---

<Layout title={strings.title} description={strings.description} permalink={Astro.url.toString()}>
    <h1>Hello World</h1>
</Layout>
