---
import strings from '../../strings.mjs';
import MDXWrapper from '../components/MDXWrapper.astro';
import Content from '../content/pages/index.mdx';
import Layout from '../layouts/Layout.astro';
---

<Layout
    title={strings.title}
    description={strings.description}
    ogImage="https://whitepaper.actor/opengraph.png"
    permalink={Astro.url.toString()}
>
    <div class="mdx-content mx-auto max-w-(--breakpoint-lg) px-8">
        <MDXWrapper>
            <Content />
        </MDXWrapper>
    </div>
</Layout>
