---
const navItems = [
    { name: 'Design', href: '/design' },
    { name: 'Development', href: '/development' },
    { name: 'Photography', href: '/photography' },
    { name: 'Illustration', href: '/illustration' }
];
---

<header
    aria-label="Main Menu"
    class="bg-debug pointer-events-none fixed z-10 flex h-min w-full flex-col flex-nowrap content-center items-center justify-center gap-x-0 gap-y-0 align-middle backdrop-blur-lg select-none"
>
    <!-- Menu Stack -->
    <div
        class="relative flex h-min max-w-screen-lg flex-row content-center items-center justify-center gap-x-7 gap-y-7 px-7 py-0"
    >
        <nav aria-label="Primary" class="">
            <a href="/" class="">Václav&nbsp;Vančura</a>
        </nav>

        <nav aria-label="Secondary" class="">
            {
                navItems.map((item) => (
                    <a href={item.href} class="">
                        {item.name}
                    </a>
                ))
            }
        </nav>

        <button type="button" class="/" aria-label="Toggle menu">
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"
                ></path>
            </svg>
        </button>
    </div>

    <!-- Separator Stack -->
    <div class="px-7 py-0"><div class="bg-debug"></div></div>
</header>
