---
import { Head } from 'astro-capo';

import BaseHead from '../components/BaseHead.astro';
import CodeCopy from '../components/CodeCopy.astro';
import SmoothScroll from '../components/SmoothScroll.astro';
import '../styles/global.css';

const { title, description, ogImage, permalink } = Astro.props;
---

<html lang="en">
    <Head>
        <BaseHead title={title} description={description} ogImage={ogImage} permalink={permalink} />
    </Head>

    <body class="bg-zinc-200 text-zinc-800 dark:bg-zinc-800 dark:text-zinc-200">
        <main>
            <slot />
        </main>

        <CodeCopy />
        <SmoothScroll />
    </body>
</html>
