---
import { Head } from 'astro-capo';
import Footer from '../components/Footer.astro';
import NavBar from '../components/NavBar.astro';
import BaseHead from '../components/BaseHead.astro';
import type { SEOMetadata } from '../types';

import '../styles/mdx-content.css';
import '../styles/tailwind.css';
import '../styles/typography.css';

type Props = SEOMetadata;

const { title, description, permalink } = Astro.props;
---

<!doctype html>
<html lang="en">
    <Head>
        <BaseHead title={title} description={description} permalink={permalink} />
    </Head>

    <body class="flex min-h-screen flex-col bg-background dark:bg-background-dark">
        <NavBar />

        <main class="mx-auto w-full max-w-7xl flex-1 px-4 py-8 sm:px-6 lg:px-8">
            <slot />
        </main>

        <Footer />
    </body>
</html>
